.collab-container {
    padding-top: 20px;

    span {
        border: white 1px solid;
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
        width: 60px;
    }

}