.collab-container {
    // display: flex;
    // flex-flow: row wrap;
    // flex-direction: row;
    // justify-content: space-between;  

    span {
        border: white 1px solid;
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
        width: 60px;
    }

}